.FormularioCrear {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 40% 10% 40% 10%;
}

.FormularioAlternativo {
    width: 100%;
    height: 80%;
    display: grid;
    row-gap: .5rem;
    grid-template-rows: 25% 5% 25% 5% 25% 5%;
}

.FormularioHistorias {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: 15% 10% 15% 10% 15% 10% 25%;
}

.FormularioCrear div, .FormularioAlternativo div, .FormularioHistorias div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-self: flex-end;
}

.FormularioCrear label, .FormularioAlternativo label, .FormularioHistorias label {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Barlow-Regular';
    align-self: center;
}

.FormularioCrear input, .FormularioAlternativo input, .FormularioHistorias input{
    font-family: 'Barlow-Regular';
    align-self: center;
    padding-left: 1rem;
    font-size: 1.3rem;
    width: 80%;
    height: 80%;
}

.FormularioHistorias select {
    font-family: 'Barlow-Regular';
    align-self: center;
    padding-left: 1rem;
    font-size: 1.3rem;
    width: 83%;
    height: 80%;
}

.FormularioCrear input:focus, .FormularioAlternativo input:focus, .FormularioHistorias input:focus {
    outline: none;
}

.FormularioCrear p, .FormularioAlternativo p, .FormularioHistorias p {
    padding: 0;
    margin: 0;
    margin-left: 30%;
    align-self: flex-start;
    color: red;
}