.EditarEpicas {
    display: grid;
    grid-template-columns: 15% 85%;
}

.ContenedorPagina {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-column: 2;
}

.SegundoContenedorPagina {
    display: grid;
    grid-template-rows: 80% 20%;    
    align-items: center;
    height: 80%;
}