.BotonCrearElemento {
    background-color: #023E8A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Barlow-SemiBold';
    font-size: 1.5rem;
    width: 25%;
    justify-self: center;
    height: 50%;
    border-radius: .5rem;
    align-self: flex-start;
}

.BotonCrearElemento:hover {
    cursor: pointer;
    background-color: #013980;
}