.CrearElemento {
    width: 40%;
    height: 40%;
    display: grid;
    grid-template-rows: 80% 20%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #023E8A;
    color: white;
    align-self: center;
    justify-self: center;
    border-radius: 2rem;
}

.Icono {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    font-size: 13rem;
}

.CrearElemento p:nth-child(2) {
    font-size: 2rem;
    font-family: 'Barlow-Thin';
}

.CrearElemento:hover {
    cursor: pointer;
    background-color: #013980;
}