.HeaderSesiones {
    position: relative;
    background-color: #023E8A;
    color: white;
    font-family: 'Barlow-Regular';
    font-size: 2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    border-left: 2px solid white;
}

.FlechaIcono {
    position: absolute;
    left: 5%;
    font-size: 2.5rem;
}

.FlechaIcono:hover {
    cursor: pointer;
}